@import url('../../../styles/style_variables.css');

.user-requests-page {
    padding: 50px;
}

.states-drop-down-list {
  background-color: var(--secondry-color);
  color: var(--primary-color);
  float: right;
  border: 1px solid black;
}
.user-requests-page  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    text-align: left;
    padding: 8px;
  }
  
  th {
    background-color: #eee;
  }
  
  .odd {
    background-color: #f1f1f1;
  }
  
  .even {
    background-color: #fff;
  }
  