
.user-requests-page {
    padding: 50px;
    height: 100vh;
}

.states-drop-down-list {
  background-color: var(--secondry-color);
  color: var(--primary-color);
  float: right;
  width: fit-content;
  border: 1px solid black;
  margin-bottom: 20px;
}
.user-requests-page  table {
  border: 2px solid var(--primary-color);
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    text-align: left;
    padding: 10px 80px;
    color: var(--primary-color);
  }
  
  th {
    background-color: var(--primary-color);
    color: var(--background-color);
  }
  
  .odd {
    background-color: var(--secondry-color);
  }
  
  .even {
    background-color: var(--background-color);
  }
  