@import url('variables.css');


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    background-color: var(--header-background-color);
}

  h2{
    color:  var(--primary-color);
  }

  
  .logo {
    display: flex;
    align-items: center;
  }
  
  .logo img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
  }
  nav {
    margin-left: auto;
    font-family: Arial, sans-serif;
    height: 100%;
  }
  nav ul {
    display: flex;
    list-style: none;
    margin: auto 0;
    /* background-color: #ff0000; */
    /* padding: 0; */
    height: 100%;
  }
  
  nav li a{
    padding-right: 30px;
    padding-left: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-decoration: none;
    color: var(--primary-color);

  }
  
  
  /* nav li:hover{
    background-color: var(--button-color);
    color: #ffffff !important;
  } */
  
  /* nav a {
    text-decoration: none;
    color: var(--primary-color);
  } */

  nav a:hover {
    color: white;
    background-color: var(--primary-color);
  }
  
  .logout {
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 0px 10px;
    cursor: pointer;
  }
  
  .logout:hover {
    background-color: var(--button-hover-color); 
  }