.user-requests-page  table {
    border: 2px solid var(--primary-color);
      border-collapse: collapse;
      width: 100%;
    }
    
    th, td {
      text-align: left;
      padding: 10px 8px;
      color: var(--primary-color);
    }
    
    th {
      background-color: var(--primary-color);
      color: var(--background-color);
    }
    
    .odd {
      background-color: var(--secondry-color);
    }
    
    .even {
      background-color: var(--background-color);
    }
    