@import url('../../../styles/style_variables.css');

.search-terms-page {
    padding: 50px;
    /* height: 100vh; */
}

.search-terms-page button {
  background-color: var(--secondry-color) ;
  color: var(--primary-color) ;
  float: right;
  /* border: 1px solid black; */
  margin-bottom: 20px;
  width: fit-content;
}
.search-terms-page button:hover {
    background-color: var(--button-hover-color);
    color: white;
}

.search-terms-page button span{
    padding-left: 10px;
}
.search-terms-page  table {
  border: 2px solid var(--primary-color);
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    text-align: left;
    padding: 10px 8px;
    color: var(--primary-color);
  }
  
  th {
    background-color: var(--primary-color);
    color: var(--background-color);
  }

  tr .raw-delete-icon{
    color: var(--primary-color);
  }

  tr .raw-delete-icon:hover{
    color: red;
  }
  
  .odd {
    background-color: var(--secondry-color);
  }
  
  .even {
    background-color: var(--background-color);
  }
  